h1 {
    text-align:center;
    margin:50px;
}

body {
    background-color:#c4c4c4;
}

p {
    padding:10px;
}

.button1 {
    margin-top:50px;
    margin-left:45%;
    background-color:#1e90ff;
}

.button2 {
    background-color:#1e90ff;
}

a {
    color:white;
}
