{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

<h3>Sell a Stock Quote</h3>
<br>
    <form action="/sell" method="post">
        <div class = "form-group">
            <label for ="symbol">Symbol</label>
            <select class = "form-control mx-auto w-auto" name = "symbol">
                <option value = "">Select a stock</option>
                {% for stock in currentStocks %}
                <option value = {{stock.symbol}}>{{stock.symbol}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Sell Shares</button>
    </form>

{% endblock %}
